@use '../../../styles/mixins' as *;

.statement {
  --brand-statement-backdrop-width: 58.125rem;

  position: relative;
  overflow: hidden;
  padding: 0;

  &::before {
    content: '';
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    height: 100%;
    width: 100%;
    min-width: min(
      var(--brand-statement-backdrop-width),
      calc(100% - (2 * var(--page-gutter-mobile)))
    );
    background: url('/images/shared/figuras/ovalos-background.svg') center / contain no-repeat;
    pointer-events: none;
    transform: translate(-50%, -30%);
    z-index: var(--z-decoration);

    @include from(768px) {
      transform: translate(-50%, -40%);
      inset-block-start: 60%;
    }
  }
}

.statementInner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  min-height: 25em;
  padding: 0 var(--page-gutter-mobile) var(--space-8) var(--page-gutter-mobile);
  z-index: var(--z-content);

  @include until(768px) {
    min-height: 15rem;
    padding-block: var(--space-5);
  }
}

.heading {
  --heading-primary-transform: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: var(--line-height-tight);
  font-size: clamp(2.5rem, 1.5rem + 4.5vw, 3.5rem);
  color: var(--color-brand-navy);
  gap: 0;
}
