@use '../../../styles/mixins' as *;

.heroSection {
  position: relative;
  overflow: visible;
  padding-block-start: clamp(6rem, 10vw, 10rem);
  padding-block-end: clamp(4rem, 7vw, 7rem);
  overflow: hidden;

  @include from(768px) {
    padding-block-start: clamp(8rem, 14vw, 8rem);
    padding-block-end: clamp(6rem, 10vw, 8rem);
  }
}

.heroContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-5);
  align-items: end;
  padding-inline: var(--space-6);

  @include from(768px) {
    grid-template-columns: minmax(auto, 2fr) minmax(auto, 1.5fr);
    gap: var(--space-4);
  }

  @include from(1440px) {
    padding-inline: 0;
  }
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  color: var(--color-text-on-dark);
  z-index: var(--z-content);

  @include from(768px) {
    min-height: 18rem;
    gap: var(--space-8);
  }
}

.heading {
  position: relative;
  z-index: 2;
  font-size: var(--font-size-hero-lg);
  line-height: 1;
  letter-spacing: -0.025em;
  color: var(--color-brand-yellow);
  max-width: 14ch;
  text-align: center;

  @include from(767px) {
    text-align: inherit;
  }
}

.lede {
  position: relative;
  z-index: 2;
  font-family: var(--font-sans);
  font-size: var(--font-size-md);
  align-self: flex-end;
  line-height: var(--line-height-body);
  color: var(--color-text-on-dark);
  margin: 0;
  text-align: center;

  @include from(767px) {
    max-width: 36ch;
    text-align: inherit;
  }
}

.rightColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  align-items: flex-end;
  min-width: 150px;
  z-index: var(--z-content);
}

.ctas {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
  z-index: var(--z-content);
  width: 100%;
  justify-content: center;

  @include from(767px) {
    justify-content: flex-end;
  }
}
