@use '../../../styles/mixins' as *;

.shape {
  position: absolute;
  display: block;
  pointer-events: none;
  color: var(--color-brand-orange);
  z-index: 0;
  opacity: 0.95;
  inset-block-start: 50%;
  inset-inline-start: -15%;
  min-width: 50vw;
  min-height: 50vw;
  width: 100%;
  transform: rotate(-22.5deg);

  @include from(425px) {
    inset-block-start: 40%;
    inset-inline-start: -25%;
    transform: rotate(-17.5deg);
  }

  @include from(768px) {
    inset-block-start: 40%;
    inset-inline-start: -40%;
    transform: rotate(0deg);
  }

  @include from(1200px) {
    inset-block-start: 45%;
    inset-inline-start: -45%;
  }

  @include from(1440px) {
    min-width: 1000px;
    min-height: 1000px;
    inset-block-start: 250px;
    inset-inline-start: -45%;
  }
}
